body {
    background-color:#8d98a8;
}
.pfp {
    /* width:100px;
    height:100px; */
    width:90px;
    margin-top:10px;
    border-radius: 100%;
    display:block;
    margin-left:25px;
}
#walkCycleEl {
    
    /* width:370px; */
    width:360px;
    margin-top:10px;
    /* border-top-right-radius: 10px; */
    border-radius:12px;
}
#profile {
    width:150px;
    background-color: transparent;
    height:126.66px;
}

.content {
    margin:auto;
    border-radius:2%;
    max-width:530px;
    height:500px;
    color:#00509d;
    background-color:#edf2fb;
    border-image: url('./images/whitelace.png') 34 round;
    border:0px solid transparent;
}
.status {
    margin:auto;
    text-align:center;
    display:block;
    padding:5px;
}
#profile {
    float:left;
}

#statusDot, #status {
    display:inline;
}
.nav button {
    width:125px;
    padding:0px;
    margin:0px;
    background-color: #c1d3fe;
    border:none;
    padding:5px;
    color:#00509d;
}
.nav button:hover {
    background-color: #a0afd1;
    /* color:#5e7ab9; */
}
.project img {
    width:100px;
}
.nav {
    margin:0px 7px;
}
.project {
    display:inline-block;
}
.project p {
    text-align:center;
}
.mainCont {
    padding:7px;
}
.artwork img {
    width:200px;
}
.artwork {
    display:inline-block;
}
.header {
    background-color: #abc4ff;
}
.artPreview {
    width:400px;
    height:400px;
    display:none;
    position:absolute;
    top: 50%; left: 50%; 
    transform: translate(-50%, -50%);
    background-color:#8d98a8ba;
    padding:10px;
    border-radius:5px;
}
.directionP {
    text-align: center;
    left:20%;
    right:20%;
    color:white;
}
.prevImg {
    max-width:400px;
    top: 50%; left: 50%; 
    position:absolute;
    transform: translate(-50%, -50%);

}
.artPreview button {
    height:25px;
    width:25px;
    border:none;
    background-color: #c1d3fe;
    color: #00509d;
}
.closePreview {
    
}